{% extends 'loans/base.html' %}
{% block conteudo %}
<div>
    <h1 class="balanco-periodo" style='margin-top:200px; margin-bottom: 80px; text-align: center;'>Balanço Período</h1>
    <section class="container" class="filtro-periodo">
      <form id="formulario-periodo" method="POST">
        {% csrf_token %}
        <label style="margin-right:5px" for="inicio">De:</label>
        <input type="date" id="inicio" name="inicio">
        <label style="margin-right:5px; margin-left:10px" for="fim">A:</label>
        <input type="date" id="fim" name="fim">
        <button class="filtrar-button" style="margin-left:10px" type="submit" id="submit-periodo">Filtrar</button>
      </form>
    </section>
    <div class="container">
      <table class='container table table-hover table-bordered table-lg'> 
          <tr>   
              <th class="balanco-text">Entrada</th> 
              <th class="balanco-text">Saída</th> 
          </tr>
          <tr>
              <td class="balanco-resposta"style="text-align: center;" id="soma_pagamento">{{ soma_pagamento }}</td>
              <td class="balanco-resposta" style="text-align: center;" id="soma_valor">{{ soma_valor }}</td>
          </tr>
      </table>
    </div>
  </div>
{% endblock %}
