{% extends 'loans/base.html' %}
{% block conteudo %}
<div class="container">
    <h1 style='margin-top:200px; margin-bottom: 80px; text-align: center;'>Filtro Balanço</h1>
    <section class="filtro-periodo">
      <form id="formulario-periodo" method="POST">
        {% csrf_token %}
        <label style="margin-left:20px;" for="inicio">Início do período:</label>
        <input type="date" id="inicio" name="inicio">
        <label for="fim">Fim do período:</label>
        <input type="date" id="fim" name="fim">
        <button type="submit" id="submit-periodo">Filtrar</button>
      </form>
    </section>
    <div class="container-fluid">
      <table class='container table table-hover table-bordered table-sm'> 
          <tr>   
              <th>Entrada</th> 
              <th>Saída</th> 
          </tr>
          <tr>
              <td style="text-align: center;" id="soma_pagamento">{{ soma_pagamento }}</td>
              <td style="text-align: center;" id="soma_valor">{{ soma_valor }}</td>
          </tr>
      </table>
    </div>
  </div>
{% endblock %}
