<!doctype html>
{% load static %}
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, margin-right:50px; initial-scale=0.80, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>
 
    <title>Loan Database</title>
  </head>
  
  <body>
      <nav class="navbar-brand container-fluid ">
        <a style="float:left;"class="navbar navbar-brand" href="{% url 'clientes' %}">Página Inicial</a>
        <ul style="float:right; list-style: none;">
          {% if user.is_authenticated %}
          <li style="float:right">
            <strong style="float:left" class="text-info nav-link">Bem-vindo: {{user.get_username}}</strong>
          </li>
          <li  style="float:right">
              <a class= "nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
          {% else %}
          <li style="float:right">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li style="float:right">      
              <a class=" nav-link" href="{% url 'novo_usuario' %}">Fazer Cadastro</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}}">{{message}}</div>
        {% endfor %}
        {% endif %}
        
        {% block conteudo %}

        {% endblock %}
    
        <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/mascara.js' %}"></script>
        <script src="{% static 'js/balanco_mensal.js' %}"></script>
        <script src="{% static 'js/calculojuros.js' %}"></script>
        <script src="{% static 'js/vencimento_mensal_checkbox.js' %}"></script>
        <script src="{% static 'js/juros_mes.js' %}"></script>
        <script src="{% static 'js/parcelas_pagas.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js"></script>

        
        
      {% block scripts %}

      
      
      {% endblock %}


    </body>
</html>
    
      
      
        
      
       