{% extends 'loans/base.html' %}
{% load static %}
{% block conteudo %}
<h1 class='container' style ='text-align: center; margin-bottom:50px;'>Lista de Clientes</h1>
<div style= "white-space: nowrap;" class='container'>
<button style='margin-bottom:-40px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'novo_emprestimo' %}">Novo Cliente</a></button>
<button style='margin-bottom:-40px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'balanco' %}">Balanço Total</a></button>
<button style='margin-bottom:-40px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'balanco_mensal' %}">Balanço Período</a></button>
<button style='margin-bottom:-40px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'divida_paga' %}">Dívida Total Paga</a></button>
  
<table class= 'container table'>
    <table class= 'container table table-striped table-bordered' id="tabela-clientes">
        <thead>
            <tr style="text-align: center;">
                <th>Cliente</th>
                <th>Pagameto Mensal</th>
                <th>Editar</th>
                <th>Excluir</th>
                <th>Mensalidade</th>
                <th>Parcelas em Atraso</th>
            </tr>
        </thead>

    <tbody>
        {% for dado in dados %}
        <tr style="text-align: center;">
            <td><a href="{% url 'detalhe' dado.id %}">{{dado.nome}}</a></td> 
            <td>{{dado.juros_mes}}</td>
            <td><button class = 'btn btn-warning'><a style = 'color: white;' href="{% url 'editar' dado.id %}">Editar</a></button></td>
            <td><button class = 'btn btn-danger'><a style = 'color: white;' href="{% url 'excluir' dado.id %}">Excluir</a></button></td>
            <td class="{% if dado.vencimento_mensal <= hoje %}bg-danger{% else %}bg-success{% endif %}">{{ dado.vencimento_mensal|date:"d/m/Y" }}</td>
            <td class="{% if dado.parcelas_atrasadas == 0 %}bg-success{% else %}bg-danger{% endif %}">{{ dado.parcelas_atrasadas }}</td>       
        </tr>
        {% endfor %}
   

    <tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){

        $('#tabela-clientes').DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [[0,"asc"]],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "",
                "info": "",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });
            
    });
    
        

</script>
{% endblock %}

