{% extends 'loans/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
<h1 style="margin-top: 100px; text-align: center;">Criar novo usuário</h1>
<div style="margin-top: 50px;" class="container">
    <form method='POST'>
        {% csrf_token %}
        {{ formulario | crispy }}
        <button type="submit" class="btn btn-success" href="{% url 'login' %}">Criar novo usuário</button>
        <a style="margin-left: 20px;" href="{% url 'login' %}">Já possui uma conta? Fazer Login</a>
    </form>
</div>
{% endblock %}